<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>GONGUERIE | 공지사항</title>
</head>
<body>
  <%- include("header") %>
  <div class="boxed">
    <div class="writeButtonWrapper">
      <a href="/writepost"><button class="writeButton">Write a Post</button></a>
    </div>
    <div class="postList">
      <table>
        <colgroup>
          <col style="width:10%;" class="BD_tm_none">
          <col style="width:auto;">
          <col style="width:15%;">
          <col style="width:12%;">
          <col style="width:10%;">
        </colgroup>
        <thead>
          <tr>
            <th scope="col" class="BD_tm_none">번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">등록일</th>
            <th scope="col">조회수</th>
          </tr>
        </thead>
        <% res.forEach(data => { %>
          <tr>
            <td class="BD_tm_none"><%=data.n%></td>
            <td class="textLeftAlign">
              <a href="/viewpost?postid=<%=data.n%>">
                <%=data.title%>
              </a>
            </td>
            <td>
              <%=data.author%>
            </td>
            <td>
              <% data.written_date = helper.formatDate(data.written_date); %>
              <%=data.written_date%>
            </td>
            <td>
              <%=data.view_count%>
            </td>
          </tr>
        <% }); %>
      </table>
    </div>
  </div>
</body>
</html>