<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/global.css">
  <link rel="stylesheet" href="/stylesheets/viewpost.css">
  <script src="/javascripts/viewpost.js"></script>
  <title>GONGUERIE</title>
</head>
<body>
  <%- include("header") %>
  <div class="boxed">
    <div class="viewpost">
      <div class="postTitle">
        <%=title%>
      </div>
      <div class="postInfo">
        <div class="postAuthor">
          Author
          <%=author%>
        </div>
        <div class="postInfoDiv"></div>
        <div class="writtendate">
          Date
          <%=written_date%>
        </div>
        <div class="postInfoDiv"></div>
        <div class="viewcount">
          <%=view_count%> 
          views
        </div>
      </div>
      <div class="postContent">
        <%=contents%>
      </div>
    </div>
    <div class="aftPostMenu">
      <div class="postList">
        <a href="/announcements"><button>목록</button></a>
      </div>
      <div class="deletePost">
        <button onclick="deletePost( <%=n%> );">삭제</button>
      </div>
    </div>
  </div>
</body>
</html>